<ion-header>
  <ion-navbar>
    <ion-title>
      Quiz Chidorris
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let depa of depas" col-4>
        <ion-card>
          <img *ngIf="depa.hasOwnProperty('pictures')" src="{{depa.pictures[0].url}}">
          <ion-card-content>
            <h1 *ngIf="depa.hasOwnProperty('price')">
              {{depa.price.formattedAmount}} {{depa.price.currency}}
            </h1>
            <p>
              {{depa.geo.name}},{{depa.geo.displayName}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
